* {
	box-sizing: border-box;
}

body {
	padding-top: 60px;
	background-color: #0073e6;
	text-align: center;
	font-family: 'Roboto', helvetica, sans-serif;
}

.logo {
	height: 35px;
	margin-bottom: 8px;
}

.signup {
	margin: auto;
	padding-left: 40px;
	padding-right: 40px;
	width: 400px;
	background-color: white;
	border-radius: 3px;
}

.signup h1 {
	padding: 35px;
	font-size: 34px;
	font-weight: 200;
}

fieldset {
	text-align: left;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

input, button {
	display: block;
	padding: 15px;
	width: 320px;
}

input {
	border: 2px solid lightgrey;
	border-radius: 3px;
	font-size: 18px;
}

button {
	margin: 0px;
	font-size: 20px;
	color: white;
	background-color: #40bf79;
	border: 2px solid #40bf79;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: #0CB863;
}

#email, #password {
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #F8F8F8;
}

.forgot-password {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 14px;
	color: grey;
}

footer p, footer a {
	display: inline-block;
	margin-top: 20px;
	margin-right: 5px;
	color: white;
	font-weight: bold;
	font-size: 18px;
}

a:hover {
	color: lightgrey;
}